@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./about.css";

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap");

@font-face {
  font-family: "input-sans", "Courier New";
  src: url("../public/fonts/InputSans-Regular.otf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  text-decoration: none;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:hover svg {
  fill: #fff;
  margin-left: 10px;
  transition: ease-in-out 0.5s;
}

.btn-2 {
  background-image: linear-gradient(90deg, #91ebff, #8d9cf1ef);
}

.btn-2:hover {
  background-image: linear-gradient(90deg, #ffff, #cfd5f5);
  transition-duration: 4s;
  transition-delay: 3s;
}

@layer base {
  h1 {
    font-family: "Barlow", sans-serif;
    /* font-family: Barlow; */
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
  }
}

@layer components {
  .btn-1 {
    @apply bg-[#ffff] w-[145px] rounded text-dark-1 hover:bg-dark hover:text-[#fff] py-2 px-5;
  }
  .btn-2 {
    @apply bg-[#ffff] rounded text-dark-1 hover:bg-[#ffff] hover:text-dark  py-2 px-4;
  }
}

svg#constellationMotif {
  width: 82%;
}

.NavContain {
  width: 85%;
  margin: auto;
}

/* banner */
.logo svg {
  width: 100px;
  height: 100px;
}
.logo svg path {
  fill: #fff;
}

.menu svg {
  width: 30px;
  height: 30px;
}

.closeMenu svg {
  width: 30px;
  height: 30px;
}

.productMain:hover .product {
  /* display: block; */
  transition: ease-in-out 0.5s;
}
.companyMain:hover .company {
  display: block;
  transition: ease-in-out 0.5s;
}
.communityMain:hover .community {
  display: block;
  transition: ease-in-out 0.5s;
}
.resourceMain:hover .resource {
  display: block;
  transition: ease-in-out 0.5s;
}

.mobile .logoo {
  display: inline-block;
}

.comminityicons svg {
  width: 60px;
  height: 60px;
}
.comminityicons svg path {
  fill: #0052ff;
}

.gradient-1 {
  z-index: -2;
  background: linear-gradient(180deg, #090422, #0052ff 100.05%);
}

.gradient-2 {
  z-index: -1;
  /* margin-top: 100px; */
  background: linear-gradient(
    106.34deg,
    rgba(44, 207, 254, 0) 0.99%,
    #0052ff 70.36%,
    #2ccefe 97.51%
  );
  -webkit-clip-path: polygon(0 0, 100% 72%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 43%, 100% 100%, 0 100%);
}

.header-shadow-bg {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  width: 1259.93px;
  height: 768.37px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #090422 0,
    rgba(9, 4, 34, 0) 100%
  );
  transform: rotate(-25.19deg) translate(-50%, -50%);
}

.bgline {
  margin-top: -350px;
}

.login:hover .arrow {
  margin-left: 15px;
  transition: ease-in-out 0.5s;
}
.perfectbtn:hover .arrow {
  margin-left: 10px;
  transition: ease-in-out 0.5s;
}

/* Login hover button animation */

.login::after {
  content: "";
  position: absolute;
  top: 0;
  width: 140px;
  height: 0;
  transition: height 0.4s ease-in-out;
}

.login:hover::after {
  position: absolute;
  top: 33px;
  width: 130px;
  left: -12px;
  content: "Looging for 1.0?";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: height 0.4s ease-in-out;
}

/* Perfect hover button animation style*/

.btn:visited,
.prefect-button,
.prefect-button:active,
.prefect-button:link,
.prefect-button:visited {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  font-family: input-sans, Courier New, Courier, monospace;
  font-size: 14px;
  color: #090422;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
}

button.sc-beqWaB.gXIUqQ {
  display: none;
}

code {
  background: #1d1834;
}

.jMRVRq span {
  background: #1d1834 !important;
}

span.token {
  color: #0841c4;
}

.process-task-runs-wrapper {
  height: 259px;
  -webkit-clippath: polygon(0 0, 38% 0, 60% 100%, 0 100%);
  clip-path: polygon(0 0, 38% 0, 60% 100%, 0 100%);
  display: block;
  margin-top: -80px;
}

.process-task-runs {
  background: linear-gradient(270deg, #f7f8fa, #ebeef7 98.38%);
  height: 100%;
}

.card-img svg {
  width: 140px;
  height: 140px;
}

.clients-section {
  padding-top: 60px;
  background: linear-gradient(90deg, #ebeef7, #f7f8fa);
}

button.slick-arrow.slick-prev {
  display: none !important;
}
button.slick-arrow.slick-next {
  display: none !important;
}

ul.slick-dots {
  position: absolute;
  top: -35px;
  right: 36%;
}

.contentSlider .slick-dots {
  position: absolute;
  z-index: 20;
}
.slick-list {
  z-index: 30;
}

/* client slider */

.clientsLogo svg path {
  fill: #4f4f4fd6;
  mix-blend-mode: darken;
  /* padding: 10px; */
}

.cardslider svg {
  width: 180px;
  height: 50px;
}

.cardSlic .slick-dots {
  display: none !important;
}

.cardSlic .slick-next:before {
  width: 40px !important;
  height: 40px !important;
  color: #090422 !important;
  font-size: 30px !important;
  font-weight: 600;
  /* background: #0052ff; */
}

.cardSlic .slick-prev:before {
  width: 40px !important;
  height: 40px !important;
  color: #090422 !important;
  font-size: 30px !important;
  font-weight: 600;
  /* background: #0052ff; */
}

.cardPng {
  width: 180px;
  height: 50px;
}

.cardSlic ul.slick-dots li {
  display: none;
}

.slick-dots li button:before {
  top: 0;
  left: 0;
  width: 20px;
  height: 2px !important;
  content: "" !important;
  opacity: 0.25;
  color: #0052ff;
  background: #0052ff;
  z-index: 20;
}

.cardSlic .card .cardwrapper .wrapper {
  background-color: #ffff;
}
.cardSlic .card .cardwrapper .wrapper:hover {
  box-shadow: 15px 6px 24px 4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* .cardSlic .card .cardwrapper {
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    15px 100%,
    0 100%
  );
} */

/* WHY PREFECT  */

.why-prefect-section h4.why-prefect {
  font-family: input-sans !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  color: #0052ff;
  margin-bottom: 17px;
}

.why-prefect-section .featured-video {
  height: auto;
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 45px),
    calc(100% - 45px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 45px),
    calc(100% - 45px) 100%,
    15px 100%,
    0 100%
  );
}

.gradient-3 {
  z-index: -2;
  background: linear-gradient(180deg, #090422, #0052ff 104.71%);
}

.gradient-4 {
  z-index: -1;
  background: linear-gradient(
    253.66deg,
    rgba(0, 82, 255, 0) 0.99%,
    #0052ff 70.36%,
    #2ccefe 97.51%
  );
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 75%);
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 75%);
}

.why-prefect-section .featured-video figure {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.why-prefect-section .featured-video--text {
  align-self: stretch;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.contain {
  width: 88%;
  height: 40%;
  margin: auto;
}

.videoSvg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.videoFigure:hover {
  cursor: pointer;
  opacity: calc(100% - 10%);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.miter-gradient {
  background: linear-gradient(90deg, #91ebff 0.5%, #8497ff 99.71%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%
  );
}

.miter-gradient:hover {
  background: linear-gradient(90deg, #090422 0.5%, #3a364e 99.71%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  color: #fff;
}

.miter-bg-md {
  background: linear-gradient(90deg, #090422 0.5%, #3a364e 99.71%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  color: #fff;
}

.icon-circle-wrapper {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3) !important;
}

.icon-circle-wrapper svg {
  position: absolute;
  right: 34%;
  bottom: 30%;
}

.miter-gradient:hover svg path {
  transition: 0.3s;
  fill: #fff;
}

@media (max-width: 876px) {
  .miter-gradient {
    background: linear-gradient(90deg, #090422 0.5%, #3a364e 99.71%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      0 100%
    );
    color: #fff;
  }
  .miter-gradient svg path {
    transition: 0.3s;
    fill: #fff;
  }
}

.img-community {
  width: 150px;
  object-fit: cover;
  object-position: center;
}
.img-community svg {
  width: 100%;
  opacity: 0.5;
  fill: #e0dbfa;
  height: auto;
}
.img-community svg path {
  fill: #ddd9f1;
}

.logoo svg {
  width: 110px;
  object-fit: cover;
  object-position: center;
  fill: #2ccefe;
}

.logoo svg path {
  width: 110px;
  object-fit: cover;
  object-position: center;
  fill: #19b2ff;
}

.logoo svg polygon {
  fill: #0052ff;
}

.logoo svg .cls-1 {
  fill: #fff;
}

.stay-in-the-flow form {
  flex: auto;
  position: relative;
  z-index: 2;
}

.stay-in-the-flow form input {
  font-family: input-sans;
  width: auto;
  max-width: 656px;
  height: 40px;
  background: #3a364e;
  color: #fff;
  margin-right: 40px;
  flex: auto;
}

.stay-in-the-flow form input::placeholder {
  color: #fff;
}

.signUp {
  width: 145px;
}

.slick-prev {
  left: 0px;
}

.topnav .slick-prev {
  color: #07e798 !important;
  z-index: 20;
}

.slick-prev:before,
.slick-next:before {
  font-family: "" !important;
  font-size: 14px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #07e798 !important;
}

.Github svg {
  width: 20px;
  height: 20px;
}
.linkdin svg {
  width: 20px;
  height: 20px;
}
.twiter svg {
  width: 20px;
  height: 20px;
}
.youtube svg {
  width: 20px;
  height: 20px;
}

